# General
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.pid
*.seed
*.lock

# OS Files
*.swp
*.swo
*.bak
*.tmp
*.~*

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
.idea/
.mypy_cache/
.pytest_cache/
.pyre/
.tox/
*.coverage
.coverage.*
.cache/
.ipynb_checkpoints/
*.egg-info/
.eggs/

# Environment files
*.env
.env.*

# IDE and Editor files
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

# Build files
build/
dist/
*.egg
*.whl

# Testing
test-results/
junit-report.xml

# Examples
examples/
reference/
